extends ./base.jade

block title
  title Contact &#124; urlsaver.ua

block main
  .width-50
    h1 Contact page!
    hr

block nav
  if not current_user.is_authenticated
    a(href=url_for("login")) Login
    a(href=url_for("register")) Register
