extends ./base.jade

{% from "_formhelpers.jade" import render_field %}

block title
  title Edit &#124; urlsaver.ua

block main
  .width-80
    form(method="post", action="/edit/{{ url_row.id }}")
      input(type='hidden', value='{{ csrf_token }}', name='csrfmiddlewaretoken')
      | {{ render_field(form.title) }}
      | {{ render_field(form.url) }}
      | {{ render_field(form.groupname) }}
      input(type="submit", value="Save changes")
