extends ./base.jade

block title
  title Main &#124; urlsaver.ua

block main
  .width-50
    h1 Hello, World! This is main page!
    hr

block nav
  if not user.is_authenticated
    a(href="{% url 'login' %}") Login
    a(href="{% url 'register' %}") Register