extends ./base.jade

{% from "_formhelpers.jade" import render_field %}

block title
  title Register &#124; urlsaver.ua

block main
  .width-50
    form(method="post", action=url("register"))
      input(type='hidden', value='{{ csrf_token }}', name='csrfmiddlewaretoken')
      | {{ render_field(form.email) }}
      | {{ render_field(form.password) }}
      | {{ render_field(form.confirm) }}
      input(type="submit", value="Register")
    br
    br
    | Already have an account? &#124; 
    a(href=url("login")) Login 
    | &#124;